h1 {
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
}

form {
  background-color: #c3d1de;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: fit-content;
  align-items: center;
  border: 1px solid black;
  border-radius: 60px;
  width: fit-content;
  margin: auto;
}

.form__group {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

input {
  height: 20px;
  font-size: 15px;
  padding: 5px;
}

button {
  margin-top: 20px;
  width: fit-content;
  padding: 10px 15px;
  font-size: 17px;
  background-color: #814688;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

@media (min-width: 650px) {
  h1 {
    padding: 20px;
    background-color: aliceblue;
  }
  form {
    padding: 20px;
    align-items: self-start;
    margin: auto;
    border: none;
    background-color: transparent;
  }

  .form__group {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
  }
  button {
    align-self: center;
    background-color: white;
    border: 3px solid black;
    color: black;
    font-weight: bold;
  }

  button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
  }

  input {
    flex: 3;
    width: 20em;
    font-size: 15px;
    padding: 5px;
    height: 2em;
  }
  label {
    width: 500px;
    flex: 1;
  }
}
